@charset "UTF-8";

// colors
@import "colors";

/*  
URL: http://muda.co
Author: Etter Studio Ltd., Switzerland, 2016, etterstudio.com
All rights reserved.
*/

@font-face {
    font-family: 'etter-book';
    src: url("../fonts/EtterCI-Book.eot");
    src: url("../fonts/EtterCI-Book.eot") format('embedded-opentype'),
         url("../fonts/EtterCI-Book.woff") format('woff'),
         url("../fonts/EtterCI-Book.ttf") format('truetype'),
         url("../fonts/EtterCI-Book.svg#CircularStdBookRegular") format('svg');
    font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'etter-medium';
	src: url("../fonts/EtterCI-Medium.eot");
	src: url("../fonts/EtterCI-Medium.eot") format('embedded-opentype'),
		url("../fonts/EtterCI-Medium.woff") format('woff'),
		url("../fonts/EtterCI-Medium.ttf") format('truetype'),
		url("../fonts/EtterCI-Medium.svg#CircularStdMediumRegular") format('svg');
	font-weight: normal;
  	font-style: normal;
}

// sizes 

%small {
	font-size: 0.8rem;
	line-height: 1.3;
}

%regular {
	font-size: 1rem;
	line-height: 1.3;
}

%large {
	font-size: 1.5rem;
	line-height: 1.3;
}

%xlarge {
	font-size: 2.778889rem;
	line-height: 1;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

html {
	font-size: calc(0.4em + 1vw);
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: $white;
}

%container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

body main {
	@extend %container;
	padding: 0 3rem;
}


body > header {
	display: flex;
	width: 100%;
	height: 4rem;
	padding: 0 3rem;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: $white;
	.logo {
		height: 65%;
		margin: auto 0;
		display: flex;
		flex-direction: column;
		img {
			max-height: 100%;
			width: auto;
			margin: 0 auto;
		}
	}
	nav {
		font-family: 'etter-medium';
		flex-basis: 56%;
		ul {
			height: 100%;
			list-style-type: none;
			justify-content: space-around;
			align-items: center;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			li {
				@extend %regular;

				&.lang {
					margin-left: 3rem;
				}
			}
			a {
				text-decoration: none;
				@extend %small;
				color: $black;
				&:hover {
					background-color: $yellow;
				}
				&.active {
					color: $blue;
				}
			}
			select {
				border: 2px solid $black;
				height: 100%;
			}
		}
	}
}

body main {
	header {
		margin-bottom: 11rem;
		font-family: 'etter-medium';

		#background {
			display: flex;
			align-items: center;
			justify-content: space-around;

			img {
				width: 56%;
			}

			video {
				top: 0;
				left: 0;
				z-index: -1;
				position: absolute;
				width: 100% !important;
  				height: auto   !important;
  			}
		}

		p {
			@extend %container;
			background-color: $blue;
			text-align: center;
			padding: 3rem 4rem;
			margin-top: -3rem;
			color: $white;
			@extend %large;
			line-height: 1.23;
			font-family: 'etter-book';
		}
	}
}

section#project {
	@extend %container;
	padding: 0;
	display: flex;
	flex-direction: row;
	font-family: 'etter-medium';
	color: $blue;

	section {
		width: 50%;
	}

	h2 {
		font-weight: normal;
		@extend %regular;
		margin-top: 0;
	}

	section#data {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			width: 50%;

			li {
				margin-bottom: 5rem;
			}

			li > p {
				font-size: 3.5rem;
				margin: 0;
				line-height: 1;
			}
			li > p + p {
				@extend %regular;
				line-height: 1;
			}

			span {
				display: inline;
				&:hover {
					background-color: $yellow;
				}
			}
		}
	}

	section#text {
		font-family: 'etter-book';

		h2 {
			font-family: 'etter-medium';
			@extend %large;
		}
		h3 {
			@extend %large;
			font-weight: normal;
		}
		p {
			@extend %regular;
			margin: 2rem 0 0 0;
		}
	}
}

section#project2 {
	margin: 4rem 0 0 0;
	display: flex;
	flex-direction: column;

	img {
		width: 75%;
		height: auto;
		margin: 0 0 0 auto;
	}
	h3 {
		@extend %large;
		width: 75%;
		margin: 4rem 0 0 0;
		font-weight: normal;
		font-family: 'etter-book';
		color: $blue;
	}
}

section#calendar {
	@extend %container;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'etter-medium';
	margin-top: 6rem;

	h2 {
		font-weight: normal;
		@extend %large;
		color: $blue;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		color: $white;
		li {
			background-color: $blue;
			color: $white;
			display: flex;
			flex-direction: row;
			padding: 1rem 0.75rem;
			margin-bottom: 0.75rem;
			& > div {
				font-family: 'etter-book';
				display: inline-block;
				width: 30%;
				padding-right: 3rem;
				display: flex;
				flex-direction: column;
				text-align: right;
				justify-content: center;

				span {
					font-family: 'etter-medium';
					@extend %regular;
				}
				span + span {
					font-family: 'etter-book';
					@extend %small;
				}
				a {
					text-decoration: none;
					color: $white;
					@extend %small;
					border: 4px solid $white;
					text-align: center;
					display: block;
					padding: 0.5rem 0.5rem;
					&:hover {
						//background-color: $light-gray;
					}
					span {
						@extend %small;
						color: $white;
						margin-left: 10px;
					}
				}

			}
			& > div + div {
				width: 55%;
				text-align: left;
				padding-right: 0;
			}
			& > div + div + div {
				width: 15%;
				text-align: left;
				padding-right: 0;
			}
			.date > span {
				
			}
			.date > span + span {
				
			}
		}
	}
}

section#mail {
	color: $blue;
	@extend %container;
	margin-top: 1rem;

	div {
		background-color: $light-gray;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5rem 0;
	}

	h2 {
		@extend %regular;
		font-family: 'etter-medium';
		font-weight: normal;
		margin-top: 0;
	}

	form {
		input {
			border: 4px solid $blue;
			background: $blue;
			@extend %regular;
			color: $white;
			font-family: 'etter-book';
			padding: 0.2rem 3rem;

			&::placeholder {
				color: $white;
			}
			&::-moz-placeholder {
				color: $white;
			}
			&::-webkit-input-placeholder {
				color: $white;
			}
			&:-ms-input-placeholder {
				color: $white;
			}
		}

		input[type=submit] {
			background-color: $light-gray;
			color: $black;
			border: 4px solid $black;
			padding: 0.2rem 1rem;
			margin-left: 1rem;
			cursor: pointer;
			transition: 0.6s;
			&:hover {
				border-color: $blue;
				color: $blue;
			}
		}
	}
}

section#organization {
	@extend %container;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $blue;
	margin-top: 6rem;

	h2 {
		@extend %large;
		font-family: 'etter-medium';
		font-weight: normal;
	}

	li {
		display: flex;
		margin-bottom: 1.5rem;
		div {
			width: 50%;
			@extend %regular;
			padding-right: 3rem;
		}
		div + div {
			padding-right: 0;
		}
		div p {
			@extend %small;
			font-family: 'etter-book';
			margin-bottom: 1.5rem;
		}
		div + div p {
			@extend %regular;
			margin-bottom: 1.5rem;
		}
		div a {
			font-family: 'etter-book';
			text-decoration: none;
			display: inline-block;
			@extend %regular;
			color: $black;
			padding: 0.2rem 1rem;
			border: 4px solid $black;
			transition: 0.6s;
			&:hover {
				border-color: $blue;
    			color: $blue;
			}
		}

		div img {
			max-width: 100%;
			margin-bottom: 1rem;
		}

		div p + img {
			width: 50%;
		}
	}
}

footer {
	margin-top: 5rem;
	width: 100%;
	padding: 3rem 3rem;
	background-color: $blue;
	display: flex;
	flex-direction: column;
	color: $white;
	align-items: center;

	h2 {
		@extend %regular;
		font-family: 'etter-medium';
	}

	p {
		@extend %small;
		font-family: 'etter-book';
	}
}