/*  
URL: http://muda.co
Author: Etter Studio Ltd., Switzerland, 2016, etterstudio.com
All rights reserved.
*/
@font-face {
  font-family: 'etter-book';
  src: url("../fonts/EtterCI-Book.eot");
  src: url("../fonts/EtterCI-Book.eot") format("embedded-opentype"), url("../fonts/EtterCI-Book.woff") format("woff"), url("../fonts/EtterCI-Book.ttf") format("truetype"), url("../fonts/EtterCI-Book.svg#CircularStdBookRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'etter-medium';
  src: url("../fonts/EtterCI-Medium.eot");
  src: url("../fonts/EtterCI-Medium.eot") format("embedded-opentype"), url("../fonts/EtterCI-Medium.woff") format("woff"), url("../fonts/EtterCI-Medium.ttf") format("truetype"), url("../fonts/EtterCI-Medium.svg#CircularStdMediumRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
body > header nav ul a, section#calendar ul li > div span + span, section#calendar ul li > div a, section#calendar ul li > div a span, section#organization li div p, footer p {
  font-size: 0.8rem;
  line-height: 1.3; }

body > header nav ul li, section#project h2, section#project section#data ul li > p + p, section#project section#text p, section#calendar ul li > div span, section#mail h2, section#mail form input, section#organization li div, section#organization li div + div p, section#organization li div a, footer h2 {
  font-size: 1rem;
  line-height: 1.3; }

body main header p, section#project section#text h2, section#project section#text h3, section#project2 h3, section#calendar h2, section#organization h2 {
  font-size: 1.5rem;
  line-height: 1.3; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

html {
  font-size: calc(0.4em + 1vw);
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; }

body main, body main header p, section#project, section#calendar, section#mail, section#organization {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem; }

body > header {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0 3rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f9f9f9; }
  body > header .logo {
    height: 65%;
    margin: auto 0;
    display: flex;
    flex-direction: column; }
    body > header .logo img {
      max-height: 100%;
      width: auto;
      margin: 0 auto; }
  body > header nav {
    font-family: 'etter-medium';
    flex-basis: 56%; }
    body > header nav ul {
      height: 100%;
      list-style-type: none;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row; }
      body > header nav ul li.lang {
        margin-left: 3rem; }
      body > header nav ul a {
        text-decoration: none;
        color: #000; }
        body > header nav ul a:hover {
          background-color: #ffff00; }
        body > header nav ul a.active {
          color: #0000ee; }
      body > header nav ul select {
        border: 2px solid #000;
        height: 100%; }

body main header {
  margin-bottom: 11rem;
  font-family: 'etter-medium'; }
  body main header #background {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    body main header #background img {
      width: 56%; }
    body main header #background video {
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100% !important;
      height: auto   !important; }
  body main header p {
    background-color: #0000ee;
    text-align: center;
    padding: 3rem 4rem;
    margin-top: -3rem;
    color: #f9f9f9;
    line-height: 1.23;
    font-family: 'etter-book'; }

section#project {
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: 'etter-medium';
  color: #0000ee; }
  section#project section {
    width: 50%; }
  section#project h2 {
    font-weight: normal;
    margin-top: 0; }
  section#project section#data ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 50%; }
    section#project section#data ul li {
      margin-bottom: 5rem; }
    section#project section#data ul li > p {
      font-size: 3.5rem;
      margin: 0;
      line-height: 1; }
    section#project section#data ul li > p + p {
      line-height: 1; }
    section#project section#data ul span {
      display: inline; }
      section#project section#data ul span:hover {
        background-color: #ffff00; }
  section#project section#text {
    font-family: 'etter-book'; }
    section#project section#text h2 {
      font-family: 'etter-medium'; }
    section#project section#text h3 {
      font-weight: normal; }
    section#project section#text p {
      margin: 2rem 0 0 0; }

section#project2 {
  margin: 4rem 0 0 0;
  display: flex;
  flex-direction: column; }
  section#project2 img {
    width: 75%;
    height: auto;
    margin: 0 0 0 auto; }
  section#project2 h3 {
    width: 75%;
    margin: 4rem 0 0 0;
    font-weight: normal;
    font-family: 'etter-book';
    color: #0000ee; }

section#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'etter-medium';
  margin-top: 6rem; }
  section#calendar h2 {
    font-weight: normal;
    color: #0000ee; }
  section#calendar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #f9f9f9; }
    section#calendar ul li {
      background-color: #0000ee;
      color: #f9f9f9;
      display: flex;
      flex-direction: row;
      padding: 1rem 0.75rem;
      margin-bottom: 0.75rem; }
      section#calendar ul li > div {
        font-family: 'etter-book';
        display: inline-block;
        width: 30%;
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: center; }
        section#calendar ul li > div span {
          font-family: 'etter-medium'; }
        section#calendar ul li > div span + span {
          font-family: 'etter-book'; }
        section#calendar ul li > div a {
          text-decoration: none;
          color: #f9f9f9;
          border: 4px solid #f9f9f9;
          text-align: center;
          display: block;
          padding: 0.5rem 0.5rem; }
          section#calendar ul li > div a span {
            color: #f9f9f9;
            margin-left: 10px; }
      section#calendar ul li > div + div {
        width: 55%;
        text-align: left;
        padding-right: 0; }
      section#calendar ul li > div + div + div {
        width: 15%;
        text-align: left;
        padding-right: 0; }

section#mail {
  color: #0000ee;
  margin-top: 1rem; }
  section#mail div {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0; }
  section#mail h2 {
    font-family: 'etter-medium';
    font-weight: normal;
    margin-top: 0; }
  section#mail form input {
    border: 4px solid #0000ee;
    background: #0000ee;
    color: #f9f9f9;
    font-family: 'etter-book';
    padding: 0.2rem 3rem; }
    section#mail form input::placeholder {
      color: #f9f9f9; }
    section#mail form input::-moz-placeholder {
      color: #f9f9f9; }
    section#mail form input::-webkit-input-placeholder {
      color: #f9f9f9; }
    section#mail form input:-ms-input-placeholder {
      color: #f9f9f9; }
  section#mail form input[type=submit] {
    background-color: #f0f0f0;
    color: #000;
    border: 4px solid #000;
    padding: 0.2rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.6s; }
    section#mail form input[type=submit]:hover {
      border-color: #0000ee;
      color: #0000ee; }

section#organization {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0000ee;
  margin-top: 6rem; }
  section#organization h2 {
    font-family: 'etter-medium';
    font-weight: normal; }
  section#organization li {
    display: flex;
    margin-bottom: 1.5rem; }
    section#organization li div {
      width: 50%;
      padding-right: 3rem; }
    section#organization li div + div {
      padding-right: 0; }
    section#organization li div p {
      font-family: 'etter-book';
      margin-bottom: 1.5rem; }
    section#organization li div + div p {
      margin-bottom: 1.5rem; }
    section#organization li div a {
      font-family: 'etter-book';
      text-decoration: none;
      display: inline-block;
      color: #000;
      padding: 0.2rem 1rem;
      border: 4px solid #000;
      transition: 0.6s; }
      section#organization li div a:hover {
        border-color: #0000ee;
        color: #0000ee; }
    section#organization li div img {
      max-width: 100%;
      margin-bottom: 1rem; }

footer {
  margin-top: 5rem;
  width: 100%;
  padding: 3rem 3rem;
  background-color: #0000ee;
  display: flex;
  flex-direction: column;
  color: #f9f9f9;
  align-items: center; }
  footer h2 {
    font-family: 'etter-medium'; }
  footer p {
    font-family: 'etter-book'; }

/*# sourceMappingURL=main.css.map */
